$dark-gray: #1f2225;
$purple: #5765f2;
$light-gray: #36393e;
$black: #060607;
$green: #3aa55d;
$transition: all 150ms ease-in-out;

.left-side-nav-container {
  width: 71px;
  height: 100vh;
  background-color: $dark-gray;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 11px;
  row-gap: 8px;
}

.active-discord {
  background-color: $purple !important;
  border-radius: 18px !important;
  img {
    opacity: 1 !important;
  }
  section {
    right: 56px;
    height: 40px;
    width: 20px;
    top: 4px;
  }
}

.active-green {
  background-color: $green !important;
  border-radius: 18px !important;
  section {
    right: 56px;
    height: 40px;
    width: 20px;
    top: 4px;
  }
  .green-icon {
    color: white !important;
  }
}

.green-icon {
  color: $green;
  font-size: 25.5px;
  transition: $transition;
}

.white-logo {
  color: $green;
  opacity: 0.8;
  width: 26px;
  transition: $transition;
}

.white-strip {
  height: 0px;
  width: 0px;
  background-color: white;
  position: absolute;
  top: 22px;
  right: 60px;
  border-radius: 5px;
  transition: $transition;
}

.nav-speech-bubble {
  padding: 10px;
  visibility: hidden;
  opacity: 0;
  white-space: nowrap;
  position: absolute;
  top: 9px;
  left: 68px;
  max-width: 200px;
  border-radius: 6px;
  background-color: $black;
  color: rgba(255, 255, 255, 0.808);
  transition: $transition;
  &:hover {
    opacity: 0;
    display: none !important;
  }
}

.purple-back {
  &:hover {
    background-color: $purple;
  }
}

.light-gray-back {
  &:hover {
    background-color: $green;
  }
}

.nav-circle {
  height: 48px;
  width: 48px;
  cursor: pointer;
  border-radius: 50px;
  background-color: $light-gray;
  transition: $transition;
  transition: $transition;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    border-radius: 18px;
  }
  &:hover .white-strip {
    right: 56px;
    height: 22px;
    width: 20px;
    top: 11px;
  }
  &:hover .nav-speech-bubble {
    visibility: visible;
    opacity: 1;
  }
  &:active {
    top: 1.2px;
  }
  &:hover .green-icon {
    color: white;
  }
  &:hover .white-logo {
    opacity: 1;
  }
}

.line {
  height: 2px;
  width: 31px;
  background-color: $light-gray;
  border-radius: 50px;
}
