.search-friend-container {
  position: absolute;
  border-bottom: 1.5px solid #1d1e224d;
  top: 50px;
  left: 0px;
  width: 100%;
  height: 156px;
  z-index: 1;
}

.sub-friend-container {
  height: 100%;
  left: 311px;
  display: flex;
  flex-direction: column;
  color: white;
  padding-left: 343px;
  padding-top: 16px;
  padding-right: 390px;
  cursor: default;
}

.header-add-friend {
  text-transform: uppercase;
  font-size: 15px;
}

.subby-add-friend {
  margin-top: 16px;
  font-size: 14px;
  color: #dcddde;
}

.add-friend-input {
  background-color: #303338;
  padding: 17px;
  margin-top: 20px;
  border-radius: 8px;
  border: 1px solid #232427;
  caret-color: #dcddde;
  color: #dcddde;
  min-width: 100px;
}

.send-friend-button {
  padding: 8px 15px;
  position: absolute;
  right: 408px;
  bottom: 30px;
  color: white;
  font-size: 13px;
  background-color: #5865f2;
  border-radius: 3px;
  cursor: pointer;
}

.disable-friend-button {
  cursor: no-drop !important;
  filter: brightness(80%);
  opacity: 0.8;
}

.red-text {
  color: #ed4245;
  white-space: nowrap;
}

.green-text {
  color: #4fdc7c;
  white-space: nowrap;
}

@media screen and (max-width: 1200px) {
  .sub-friend-container {
    padding-right: 33px;
  }

  .send-friend-button {
    right: 50px;
  }
}

@media screen and (max-width: 770px) {
  .send-friend-button {
    right: 198px;
  }

  .search-friend-container {
    overflow: hidden;
  }

  .sub-friend-container {
    width: 606px;
    position: relative;
    padding-left: 30px;
  }

  .add-friend-input {
    width: 395px;
  }
}
