.custom-send {
  height: 450px !important;
  overflow: visible !important;
}

.head-wumpus-container {
  padding: 0px 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: -60px;
  z-index: 98989898;
}

.set-status-title {
  margin-top: 10px;
  color: white;
  font-size: 20px;
  word-spacing: 0.1px;
  letter-spacing: 0.1px;
}

.custom-status-cross {
  float: right;
  font-size: 32px;
  color: #777a7e;
  position: relative;
  bottom: 5px;
  left: 5px;
  cursor: pointer;
  z-index: 9999999999;
}

.custom-status-form-container {
  position: absolute;
  bottom: 0px;
  left: 0px;
  border-radius: 0px 0px 5px 5px;
  width: 100%;
  height: 70px;
  padding: 16px;
  background-color: #2e3136;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.status-form-button-container {
  width: 96px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: all 100ms ease;
  &:hover {
    filter: brightness(85%);
  }
}

.cus-status-for {
  margin-top: 78px;
  height: 282px;
  overflow: scroll;
}

.status-label {
  color: #b8bbbe;
  text-transform: uppercase;
  font-size: 12px;
}

.fake-input-status {
  border: 1px solid #232427;
  background-color: #303338;
  height: 40px;
  border-radius: 3px;
  margin-top: 8px;
  position: relative;
}

.real-input-status {
  background-color: rgba(255, 255, 255, 0);
  height: 100%;
  margin-left: 40px;
  width: 300px;
  caret-color: white;
  color: #dcddde;
}

.purple-status-button-custom {
  background-color: #5765f2;
  border-radius: 3px;
}

.select-emoji {
  cursor: pointer;
  width: 24px;
  position: absolute;
  left: 6px;
  top: 6px;
  transition: all 100ms ease-in-out;
  filter: grayscale(100%);
  &:hover {
    filter: grayscale(0%);
    transform: scale(1.1);
  }
}

.emoji-sprite {
  background-image: url("../../images/emojis/emoji-sprite.png");
  position: absolute;
  width: 44px;
  transform: scale(0.5);
  height: 44px;
  cursor: pointer;
  left: -5px;
  top: -4px;
  filter: grayscale(100%);
  transition: transform 100ms ease-in-out;
  &:hover {
    filter: grayscale(0%);
    transform: scale(0.55);
  }
}

@media screen and (max-height: 580px) {
  .custom-send {
    height: 75vh !important;
  }
} ;
