// Will have to change position depending where the user activates the modal
.general-emoji-container {
  background-color: #2e3136;
  position: absolute;
  width: 424px;
  height: 424px;
  top: 10px;
  left: 60%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 5px;
  z-index: 999999999999;
  overflow: hidden;
}

.emoji-search {
  border-bottom: 1px solid #1f2225;
  height: 58px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emoji-search-fake-input {
  height: 32px;
  width: 400px;
  background-color: #1f2225;
  border-radius: 3px;
}

.emoji-search-input {
  width: 90%;
  height: 100%;
  padding-left: 10px;
  background-color: #1f222500;
  caret-color: #dcddde;
  color: #dcddde;
}

.emoji-search-icon {
  color: #dcddde6e;
  position: absolute;
  top: 18px;
  right: 25px;
  font-size: 20px;
}

.emoji-close-icon {
  color: #dcdddec7;
  position: absolute;
  top: 17px;
  right: 25px;
  font-size: 24px;
  cursor: pointer;
  &:hover {
    color: #dcddded7;
  }
}

.emoji-category {
  position: absolute;
  width: 48px;
  height: 366px;
  background-color: #1f2225;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cate-icon-container {
  border-radius: 3px;
  margin-top: 7px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:hover {
    background-color: rgba(255, 255, 255, 0.048);
    .cate-icon {
      filter: invert(83%) sepia(8%) saturate(96%) hue-rotate(169deg)
        brightness(100%) contrast(91%);
    }
  }
}

.cate-icon {
  width: 25px;
  height: 25px;
  filter: invert(83%) sepia(8%) saturate(96%) hue-rotate(169deg) brightness(89%)
    contrast(91%);
}

.small-cate-icon {
  width: 15px;
  height: 15px;
  filter: invert(83%) sepia(8%) saturate(96%) hue-rotate(169deg) brightness(89%)
    contrast(91%);
}

.emoji-selection {
  width: 376px;
  height: 366px;
  float: right;
  overflow: scroll;
  padding-bottom: 48px;
}

.emoji-cate-conatiner {
  position: sticky;
  top: 0px;
  height: 32px;
  background-color: #2e3136;
}

.cate-clickable {
  height: 100%;
  max-width: 120px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 200ms ease;
  user-select: none;
  &:hover {
    filter: brightness(150%);
  }
}

.cate-title {
  font-size: 11px;
  margin-left: 5px;
  text-transform: uppercase;
  color: #b8bbbe;
  user-select: none;
}

.emoji-chevron {
  font-size: 13px;
  margin-left: 10px;
  color: #b8bbbe;
  transition: all 200ms ease;
}

.offical-emoji-selection {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  padding-left: 8px;
}

.sticky-time {
  position: sticky;
  top: 0px;
}

.chevron-tilt {
  transform: rotate(-90deg);
}

.single-emoji {
  background-image: url("../../images/emojis/common-emoji.png");
  width: 32px;
  height: 32px;
  background-size: 1340px;
}

.single-emoji-container {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 4px;
  &:hover {
    background-color: rgba(255, 255, 255, 0.185);
  }
}
