$gray: #2e3136;
$dark: #1d1e22;
$dark-gray: #1f2225;
$light-letter: #72767c;
$black: #060607;
$transition: all 120ms ease-in-out;

@mixin flex-center {
  display: flex;
  align-items: center;
}

.home-nav-container {
  position: absolute;
  top: 0px;
  left: 71px;
  height: 100vh;
  width: 240px;
  background-color: $gray;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-conversation-container {
  width: 100%;
  height: 50px;
  border-bottom: 1.5px solid $dark;
  justify-content: center;
  @include flex-center;
}

.starty-container {
  background-color: $dark-gray;
  width: 91%;
  height: 58%;
  border-radius: 5px;
  @include flex-center;
  padding: 7px;
  color: $light-letter;
  font-size: 13.5px;
  cursor: pointer;
}

.friends-tab {
  color: rgba(255, 255, 255, 0.452);
  column-gap: 16px;
  width: 92%;
  height: 41px;
  border-radius: 5px;
  @include flex-center;
  padding: 0px 13px;
  cursor: pointer;
  &:hover {
    background-color: rgba(255, 255, 255, 0.034);
    color: rgba(255, 255, 255, 0.795);
    .friend-icon,
    .discover-icon {
      opacity: 0.8;
    }
  }
}

.friends-active {
  background-color: rgba(255, 255, 255, 0.048);
  color: white;
  .friend-icon,
  .discover-icon {
    opacity: 1;
  }
  &:hover {
    background-color: rgba(255, 255, 255, 0.048);
    color: white;
    .friend-icon,
    .discover-icon {
      opacity: 1;
    }
  }
}

.friend-icon {
  width: 20.5px;
  opacity: 0.5;
}

.discover-icon {
  width: 22px;
  opacity: 0.5;
}

.dir-mes-container {
  width: 85%;
  height: auto;
  color: $light-letter;
  position: relative;
  text-transform: uppercase;
  cursor: default;
  font-size: 12px;
  margin-top: 20px;
  filter: brightness(130%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:hover {
    p {
      filter: brightness(130%);
    }
  }
}

.dm-bubble {
  position: absolute;
  background-color: $black;
  top: -43px;
  padding: 10px;
  border-radius: 5px;
  text-transform: none;
  font-size: 13px;
  right: -35px;
  filter: brightness(140%);
  opacity: 0;
  transition: $transition;
  transform: scale(0.9);
}

.dir-plus-icon {
  font-size: 15px;
  cursor: pointer;
  &:hover + .dm-bubble {
    opacity: 1;
    transform: scale(1);
  }
}

.dm-triangle {
  position: absolute;
  bottom: -9px;
  right: 36px;
  color: $black;
  transform: rotate(90deg);
}

.no-message-container {
  width: 100%;
  height: 460px;
  margin-top: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: 11px;
  overflow: hidden;
  transform: scaleY(-1);
}

.mini-fake-message {
  display: flex;
  flex-direction: row;
  column-gap: 9px;
  align-items: center;
}

.fake-pic {
  width: 32px;
  height: 32px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.048);
}

.fake-message {
  width: 145px;
  height: 20px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.048);
}
