$dark: #282b2f;
$light-letter: #b8bbbe;
$black: #060607;
$green: #3aa55d;
$transition: all 120ms ease-in-out;

.usercard-container {
  position: absolute;
  width: 240px;
  height: 53px;
  bottom: 0px;
  left: 70px;
  background-color: $dark;
  padding: 0px 9px;
  z-index: 90;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 5px;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &:hover {
    .custom-status-usercard {
      height: 13px;
      p {
        position: relative;
        top: -17px;
      }
    }
  }
}

.card-info-container {
  margin-left: 5px;
  cursor: pointer;
  .user-bubble {
    top: -28px !important;
    right: 70px !important;
  }
  &:hover {
    .user-bubble {
      opacity: 1;
      visibility: visible;
    }
  }
}

.username {
  color: white;
  font-size: 13.5px;
}

.user-code {
  font-size: 12px;
  color: $light-letter;
  position: relative;
  top: 2px;
}

.user-icon-container {
  margin-left: 28px;
  position: absolute;
  right: 8px;
  display: flex;
  div {
    height: 31px;
    width: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
      background-color: rgba(255, 255, 255, 0.075);
      border-radius: 5px;
      .user-bubble {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.user-bubble {
  position: absolute;
  background-color: $black;
  color: $light-letter;
  top: -40px;
  visibility: hidden;
  padding: 10px;
  border-radius: 5px;
  text-transform: none;
  font-size: 14px;
  filter: brightness(120%);
  opacity: 0;
  transition: $transition;
  transform: scale(0.9);
  z-index: 500;
  &:hover {
    opacity: 0 !important;
    visibility: hidden !important;
  }
}

.copy-bubble {
  position: absolute;
  background-color: $green;
  color: white;
  top: -28px;
  left: 48px;
  padding: 10px;
  border-radius: 5px;
  text-transform: none;
  font-size: 14px;
  visibility: visible;
  opacity: 1;
  transition: $transition;
  transform: scale(0.9);
  z-index: 500;
}

.hide {
  visibility: hidden;
  opacity: 0;
}

.user-triangle {
  position: absolute;
  bottom: -9px;
  color: $black;
  transform: rotate(90deg);
}

.pro-container {
  &:hover {
    opacity: 0.8;
  }
}

.custom-status-usercard {
  overflow: hidden;
  height: 14px;
  width: 80px;
  white-space: nowrap;
  position: relative;
  top: 1.5px;
  p {
    position: relative;
    top: 0px;
    margin-bottom: 5px;
    transition: all 200ms ease-in-out;
  }
}
