$gray: #b8bbbe;

.friend-card-container {
  width: 100%;
  height: 100%;
}

.sub-friend-card-container {
  width: auto;
  margin-right: 375px;
  height: 100px;
  margin-left: 311px;
  margin-top: 50px;
  padding-top: 25px;
  padding-left: 30px;
}

.pending-label {
  color: #b8bbbe;
  text-transform: uppercase;
  font-size: 12.5px;
}

.pending-underline {
  height: 1px;
  width: 100px;
  margin-top: 10px;
  background-color: white;
}

.pendly-card {
  border-top: 1px solid rgba(255, 255, 255, 0.075);
  margin-top: 10px;
  padding: 15px 10px;
  display: flex;
  position: relative;
  right: 10px;
  background-blend-mode: multiply;
  column-gap: 13px;
  cursor: pointer;
  &:hover {
    border-top: 1px solid rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0.021);
    border-radius: 10px;
    .request-card-code {
      opacity: 1;
    }
    .choose-request-container {
      section {
        background-color: rgba(0, 0, 0, 0.479);
      }
    }
  }
  section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.request-card-username {
  color: white;
}

.request-card-code {
  color: $gray;
  font-size: 13px;
  opacity: 0;
}

.request-card-subby {
  color: $gray;
  font-size: 11px;
}

.request-status {
  top: 33px;
  left: 30px;
}

.real-status {
  .hole-dot {
    position: relative;
    top: 3px;
  }
}

.choose-request-container {
  position: absolute;
  right: 0px;
  padding: 13px;
  top: 0px;
  height: 100%;
  display: flex !important;
  flex-direction: row !important;
  column-gap: 10px;
  align-items: center;
  section {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.212);
  }
}

@media screen and (max-width: 1200px) {
  .sub-friend-card-container {
    margin-right: 30px;
  }
}
