$gray: #b8bbbe;
$red: #ed4245;
$green: #3aa55d;
$black: #18191c;
$purple: #5865f2;

.friend-card-container {
  width: 100%;
  height: 100%;
}

.sub-friend-card-container {
  width: auto;
  margin-right: 375px;
  height: 100px;
  margin-left: 311px;
  margin-top: 50px;
  padding-top: 25px;
  padding-left: 30px;
}

.pending-label {
  color: #b8bbbe;
  text-transform: uppercase;
  font-size: 12.5px;
  margin-bottom: 20px;
}

.pending-underline {
  height: 1px;
  width: 100px;
  margin-top: 10px;
  background-color: white;
}

.pendly-card {
  border-top: 1px solid rgba(255, 255, 255, 0.075);
  padding: 15px 10px;
  display: flex;
  position: relative;
  right: 10px;
  background-blend-mode: multiply;
  column-gap: 13px;
  cursor: pointer;
  &:hover + .pendly-card {
    border-top: 1px solid rgba(255, 255, 255, 0);
  }
  &:hover {
    border-top: 1px solid rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0.021);
    border-radius: 10px;
    .request-card-code {
      opacity: 1;
    }
    .choose-request-container {
      section {
        background-color: rgba(0, 0, 0, 0.479);
      }
    }
  }
  section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  animation-duration: 100ms;
  animation-name: keycard;
}

@keyframes keycard {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.request-card-username {
  color: white;
}

.request-card-code {
  color: $gray;
  font-size: 13px;
  opacity: 0;
}

.request-card-subby {
  color: $gray;
  font-size: 11px;
}

.friend-card-subby {
  color: $gray;
  font-size: 12px;
}

.request-status {
  top: 33px;
  left: 30px;
}

.real-status {
  .hole-dot {
    position: relative;
    top: 3px;
  }
}

.choose-request-container {
  position: absolute;
  right: 0px;
  padding: 13px;
  top: 0px;
  height: 100%;
  display: flex !important;
  flex-direction: row !important;
  column-gap: 10px;
  align-items: center;
  section {
    width: 35px;
    height: 35px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.212);
    &:hover {
      .pending-tick {
        color: $green;
      }
      .pending-cross {
        color: $red;
      }
    }
  }
}

.pending-icon {
  color: $gray;
  font-size: 20px;
}

.message-friend-icon {
  color: $gray;
  font-size: 17px;
}

.pending-tooltip {
  position: absolute;
  padding: 10px;
  top: -40px;
  left: -12px;
  background-color: $black;
  color: $gray;
  font-size: 13px;
  border-radius: 5px;
  transition: 100ms ease-in-out;
}

.ticky-one-accept,
.ticky-two-ignore {
  opacity: 0;
  visibility: hidden;
  &:hover {
    opacity: 0 !important;
    visibility: hidden !important;
  }
}

.ticky-one {
  &:hover {
    .ticky-one-accept {
      opacity: 1;
      visibility: visible;
    }
  }
}

.ticky-two {
  &:hover {
    .ticky-two-ignore {
      opacity: 1;
      visibility: visible;
    }
  }
}

.ticky-one {
  position: relative;
  &:active {
    background-color: rgba(255, 255, 255, 0.075) !important;
  }
}

.active-ticky {
  &:active {
    background-color: rgba(255, 255, 255, 0.075) !important;
  }
}

.card-settings {
  position: absolute !important;
  display: none;
  background-color: $black !important;
  border-radius: 5px !important;
  bottom: -120px;
  left: 20px;
  width: 210px !important;
  height: 130px !important;
  row-gap: 4px !important;
  font-size: 14px;
  z-index: 500000;
}

.card-settings-show {
  visibility: visible;
}

.hidey-time {
  visibility: hidden;
}

.hiiiides {
  display: none;
}

.mini-sub-card-modal {
  padding: 10px;
  margin: 0px auto;
  width: 92%;
  border-radius: 3px;
}

.greyby-card {
  color: $gray;
  &:hover {
    background-color: $purple;
    color: white;
  }
}

.reddy-card {
  color: $red;
  &:hover {
    background-color: $red;
    color: white;
  }
}

.minor-adjustment {
  top: 32px;
  left: 30px;
  border-color: #36393e !important;
  section {
    background-color: #36393e;
  }
}

.idle-section {
  top: -1.8px !important;
  left: -3px !important;
}

@media screen and (max-width: 1200px) {
  .sub-friend-card-container {
    margin-right: 30px;
  }

  .card-settings {
    left: -190px;
  }
}
