$purple: #5865f2;
$gray: #383c3c;
$blue: #4eaaea;
$white: #dcddde;
$slide: all 150ms ease;
$graphie-font: graphie, sans-serif;
$sans-font: davis-sans, sans-serif;

input:focus,
textarea:focus,
select:focus {
  outline: none;
  animation: focus 500ms ease;
}

* {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px #fafafa inset !important;
}

.border {
  border: 1px solid black;
}

.white-border {
  border: 1px solid white;
}

.header-font {
  font-family: $graphie-font;
}

.normal-font {
  font-family: $sans-font;
  letter-spacing: 0.025rem;
}

.f100 {
  font-weight: 100;
}

.f200 {
  font-weight: 200;
}

.f300 {
  font-weight: 300;
}

.f400 {
  font-weight: 400;
}

.f500 {
  font-weight: 500;
}

.f600 {
  font-weight: 600;
}

.f700 {
  font-weight: 700;
}

.f800 {
  font-weight: 800;
}

.f900 {
  font-weight: 900;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin gray-container {
  background-color: $gray;
  border-radius: 5px;
  position: relative;
  z-index: 2;
}

.fullscreen {
  width: 100vw;
  height: 100vh;
  background-color: $purple;
  color: white;
  overflow: hidden;
  position: relative;
  @include flex-center;
}

.register-container {
  width: 480px;
  height: 570px;
  @include flex-center;
  @include gray-container;
}

.login-container {
  width: 480px;
  height: 410px;
  @include flex-center;
  @include gray-container;
}

.backdrop-img {
  flex-shrink: 0;
  min-width: 101%;
  min-height: 101%;
  top: 0;
  position: absolute;
  z-index: 1;
}

.form-container {
  width: 86%;
  height: 82%;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.input {
  padding: 9px 11px;
  border-radius: 5px;
  background-color: #2d3131e3;
  color: $white;
  border: 1px solid rgba(0, 0, 0, 0.281);
  transition: $slide;
  &:hover {
    border: 1px solid black;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.login-label {
  padding-bottom: 10px;
}

.form-button {
  background-color: $purple;
  color: white;
  padding: 13px;
  border-radius: 5px;
  cursor: pointer;
  transition: $slide;
  &:hover {
    filter: brightness(0.85);
  }
}

.link {
  color: $blue;
  &:hover {
    text-decoration: underline;
  }
}

.dropdown-container {
  width: 100%;
  display: flex;
  column-gap: 20px;
}

.full-dropdown {
  position: relative;
  font-size: "18px";
}

.selection {
  background-color: $gray;
  filter: brightness(0.85);
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.575);
  position: absolute;
  top: -213px;
  height: 215px;
  overflow: scroll;
}

.selection {
  p {
    padding: 13px;
    cursor: pointer;
    font-family: $sans-font;
    letter-spacing: 0.025rem;
    &:hover {
      background-color: #292c2c5b;
    }
  }
}

.none {
  display: none;
}
