$purple: #5865f2;
$gray: #383c3c;
$light-gray: #757e8a;
$blue: #4eaaea;
$white: #dcddde;
$red: #ed4245;
$green: #3aa55d;
$yellow: #faa81a;
$black: #36393e;
$slide: all 150ms ease;
$graphie-font: graphie, sans-serif;
$sans-font: davis-sans, sans-serif;

input:focus,
textarea:focus,
select:focus {
  outline: none;
  animation: focus 500ms ease;
}

body {
  background-color: $black;
}

.real-status {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 28px;
  top: 29px;
  border: 3px solid #282b2f;
  border-radius: 50%;
}

.online {
  background-color: $green;
}

.idle {
  background-color: $yellow;
}

.do-not-disturb {
  background-color: $red;
}

.invisible {
  background-color: $light-gray;
}

.red-text {
  color: $red;
  opacity: 1 !important;
}

.show {
  display: flex !important;
}

.hide {
  display: none !important;
}

* {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px #fafafa inset !important;
}

.border {
  border: 1px solid black;
}

.white-border {
  border: 1px solid white;
}

.header-font {
  font-family: $graphie-font;
}

.normal-font {
  font-family: $sans-font;
  letter-spacing: 0.025rem;
}

.red-text {
  color: $red;
}

.f100 {
  font-weight: 100;
}

.f200 {
  font-weight: 200;
}

.f300 {
  font-weight: 300;
}

.f400 {
  font-weight: 400;
}

.f500 {
  font-weight: 500;
}

.f600 {
  font-weight: 600;
}

.f700 {
  font-weight: 700;
}

.f800 {
  font-weight: 800;
}

.f900 {
  font-weight: 900;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin gray-container {
  background-color: $gray;
  border-radius: 5px;
  position: relative;
  z-index: 2;
}

@mixin form-input {
  padding: 9px 11px;
  border-radius: 5px;
  background-color: #2d3131e3;
  color: $white;
  transition: $slide;
}

.fullscreen {
  width: 100vw;
  height: 100vh;
  background-color: $purple;
  color: white;
  overflow: hidden;
  position: relative;
  @include flex-center;
}

.register-container {
  width: 480px;
  height: 570px;
  @include flex-center;
  @include gray-container;
}

.login-container {
  width: 480px;
  height: 410px;
  @include flex-center;
  @include gray-container;
}

.reset-container {
  width: 480px;
  height: 349px;
  @include flex-center;
  @include gray-container;
}

.reset-img {
  width: 171px;
  margin: 0px auto;
}

.backdrop-img {
  flex-shrink: 0;
  min-width: 101%;
  min-height: 101%;
  top: 0;
  position: absolute;
  z-index: 1;
}

.form-container {
  width: 86%;
  height: 82%;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.modal-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 9999999;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.788);
}

.password-send {
  width: 440px;
  height: 206px;
  border-radius: 5px;
  line-height: 1.3rem;
  padding: 18px;
  overflow: hidden;
  @include gray-container;
}

.button-container {
  height: 100%;
  width: 440px;
  position: relative;
  right: 18px;
  top: 18px;
  background-color: rgba(0, 0, 0, 0.151);
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.281);
  &:hover {
    border: 1px solid black;
  }
  @include form-input;
}

.red-input {
  border: 1px solid $red;
  @include form-input;
}

.input-container {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.login-label {
  padding-bottom: 10px;
}

.form-button {
  background-color: $purple;
  color: white;
  padding: 13px;
  border-radius: 5px;
  cursor: pointer;
  transition: $slide;
  &:hover {
    filter: brightness(0.85);
  }
}

.link {
  color: $blue;
  &:hover {
    text-decoration: underline;
  }
}

.dropdown-container {
  width: 100%;
  display: flex;
  column-gap: 20px;
}

.full-dropdown {
  position: relative;
  font-size: "18px";
}

.selection {
  background-color: $gray;
  filter: brightness(0.85);
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.575);
  position: absolute;
  top: -213px;
  height: 215px;
  overflow: scroll;
}

.selection {
  p {
    padding: 13px;
    cursor: pointer;
    font-family: $sans-font;
    letter-spacing: 0.025rem;
    &:hover {
      background-color: #292c2c5b;
    }
  }
}

.none {
  display: none;
}

.dropdown-icon {
  position: absolute;
  width: 13px;
  opacity: 0.8;
  top: 13px;
  right: 13px;
}

.dropdown-input {
  width: 100%;
}

.auth-logo {
  display: none;
}

@media screen and (max-width: 485px) {
  .register-container,
  .login-container,
  .reset-container {
    width: 100%;
    height: 100%;
  }

  .dropdown-icon {
    display: none;
  }

  .form-container {
    padding-top: 75px;
  }

  .auth-logo {
    display: block;
    position: absolute;
    top: 22px;
    width: 130px;
  }

  .password-send {
    height: 100vh;
  }

  .button-container {
    position: relative;
    top: 625px;
  }
}
