$purple: #5865f2;
$gray: #383c3c;

.border {
  border: 1px solid black;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin gray-container {
  background-color: $gray;
  border-radius: 5px;
  position: relative;
  z-index: 2;
}

.fullscreen {
  width: 100vw;
  height: 100vh;
  background-color: $purple;
  color: white;
  overflow: hidden;
  position: relative;
  @include flex-center;
}

.register-container {
  width: 480px;
  height: 570px;
  @include gray-container;
}

.login-container {
  width: 780px;
  height: 410px;
  @include gray-container;
}

.backdrop-img {
  flex-shrink: 0;
  min-width: 101%;
  min-height: 101%;
  top: 0;
  position: absolute;
  z-index: 1;
}
