$gray: #2e3136;
$purple: #5865f2;

.guild-nav-container {
  position: absolute;
  top: 0px;
  left: 71px;
  height: 100vh;
  width: 240px;
  background-color: $gray;
  z-index: 80;
  display: flex;
  flex-direction: column;
}

.friends-tab {
  color: rgba(255, 255, 255, 0.452);
  grid-column-gap: 16px;
  column-gap: 16px;
  width: 92%;
  height: 41px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 0px 13px;
  cursor: pointer;
  margin: 0px auto;
}

.guild-tab {
  margin-bottom: 2px;
}

.compass-icon {
  font-size: 25px;
}

.discover-header {
  color: white;
  font-size: 25px;
  padding-left: 17px;
  padding-top: 17px;
  padding-bottom: 20px;
}

.discover-nav-active {
  background-color: $purple;
  color: white;
  cursor: default !important;
  &:hover {
    background-color: $purple !important;
    color: white !important;
  }
}
