.friend-nav-container {
  position: absolute;
  border-bottom: 1.5px solid #1d1e22;
  top: 0px;
  width: 100%;
  height: 50px;
}

.friend-choice {
  height: 100%;
  width: 606px;
  position: relative;
  left: 311px;
}
